body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  font-family: 'Open Sans', Arial, sans-serif; /* Clean, easy-to-read font */
  font-size: 1rem; /* Adequate font size for readability */
  line-height: 1.6; /* Spacing for readability */
  text-align: justify; /* For a clean, aligned look */
  text-justify: inter-word; /* Improved spacing between words */
  max-width: 60ch; /* Maximum line length for better readability */
  margin: 1em auto; /* Adds space above and below paragraphs */
  padding: 0.5em; /* Adds space inside the paragraph box for visual comfort */
  border-left: 4px solid #2c3e50; /* A colored bar to signify the start of a paragraph */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
  overflow-wrap: break-word; /* Ensures long words don't overflow */
}



.container {
  display: flex;
  flex-grow: 1;
}

#navbar {
  background-color: #222;
  flex-basis: 200px;
  min-height: 100vh;
  overflow: auto;
}

#hamburger-menu {
  display: none;
  padding: 15px;
  cursor: pointer;
}

#menu {
  list-style-type: none;
  padding: 0;
}

#menu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid grey;
}

#content {
  flex-grow: 1;
  padding: 20px;
}

/* buttons start*/
.button-container {
  margin-top: 20px;
}

.block-button {
  background-color: #444; /* Dark grey background */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.block-button:hover {
  background-color: #555; /* Lighter grey on hover */
}
/* buttons end */

/* episode cards start */
.card {
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-header {
  background-color: #292828;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.card-body {
  padding: 20px;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}

.episode-table {
  width: 100%;
  border-collapse: collapse;
}

.episode-table th,
.episode-table td {
  text-align: left;
  padding: 10px;
}

.green {
  color: #4caf50;
}

.red {
  color: #f44336;
}

.blue {
  color: #2196f3;
}

.icon {
  width: 16px;
  height: 16px;
}

/* Responsive styling if needed */
@media (max-width: 768px) {
  .card {
    margin: 10px;
  }
}

/* episode cards end */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  #navbar {
    flex-basis: auto;
    min-height: auto;
  }

  #hamburger-menu {
    display: block;
  }

  #menu {
    display: none;
  }

  #menu li a {
    border-bottom: none;
  }
}
