.popup-overlay {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    z-index: 2;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

p {
    font-family: 'Open Sans', sans-serif; /* A readable yet modern font */
    font-size: 16px; /* Comfortable for most readers */
    line-height: 1.6; /* Improves readability */
}


body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}



.container {
    display: flex;
    flex-grow: 1;
}

#navbar {
    background-color: #222;
    flex-basis: 200px;
    min-width: 200px;
    min-height: 100vh;
    overflow: visible;
}


#menu {
    list-style-type: none;
    padding: 0;
}

#menu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid grey;
}

#content {
    flex-grow: 1;
    padding: 20px;
}

.button-container {
    margin-top: 20px;
}

.block-button {
    background-color: #444; /* Dark grey background */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.block-button:hover {
    background-color: #555; /* Lighter grey on hover */
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #navbar {
        flex-basis: auto;
        min-height: auto;
    }

    #hamburger-menu {
        display: block;
    }

    #menu {
        display: none;
    }

    #menu li a {
        border-bottom: none;
    }
}
